import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/*Títulos font-family: 'Abel', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');
/*Subtítulos font-family: 'Mina', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
/*Subtítulos 2 font-family: 'Roboto Flex', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
/*Texto font-family: 'Bellefair', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200&display=swap');
/* font-family: 'Arima', cursive; */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{   

/* 
background:-moz-linear-gradient(180deg, rgba(0, 154, 255, 1) 0%, rgba(139, 0, 233, 1) 100%); 
background:-webkit-linear-gradient(180deg, rgba(0, 154, 255, 1) 0%, rgba(139, 0, 233, 1) 100%);
background:-o-linear-gradient(180deg, rgba(0, 154, 255, 1) 0%, rgba(139, 0, 233, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8B00E9', endColorstr='#009AFF', GradientType=1 );
background:-ms-linear-gradient(180deg, rgba(0, 154, 255, 1) 0%, rgba(139, 0, 233, 1) 100%);

background:linear-gradient(180deg, rgba(0, 154, 255, 1) 0%, rgba(139, 0, 233, 1) 100%);
*/
background-color: #16161a;
}


header {
    width: 100%;
    height: 10vh;
   
}
header figure{
    width: 8vh;
    height: 8vh;
    float: right;
    margin: 10px 30px 0px 30px;
}
header img{
    width: 100%;
    height: 100%;
}
header h1{
    font-size: 3rem;
    font-family: 'Abel', sans-serif;
    line-height: 9vh;
    color: #fff;
    float: right;
    margin: auto;
}


.Uno{
    width: 100%;
    height: 130vh;
    /* background: #16161a96 url("../MEDIA/omar_fondo.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    
}


#Texto{
    width: 40%;
    height: 100vh;
    float: left;
    color: #fff;
    padding: 20px;
}
#Texto h1{
    font-size: 4.2rem;
    font-family: 'Mina', sans-serif;
    text-align: center;
    margin: 10% 0%; 
    float: right;
}
#Texto p{
    font-size: 2rem;
    font-family: 'Arima', cursive;
    text-align: center;
    margin: 10% 2%;
    float: right;
}

#Formulario {
    width: 54%;
    height: 100vh;
    color: #fff;
    display: inline-block;    
}
#Titulo_normal{
    font-size: 2.5rem;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 600;
    text-align: center;
}
#Responsive_Titulo {
    display: none;
}

.fondo {
    width: 70%;
    height: 70chvh;
    border-radius: 30px;
    background: #16161a00 url("../MEDIA/ciudad.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0.9vh 15vh;
    margin: 9% auto;
    padding-top: 30px;
}   
#contenedor {
    width: 90%;
    height: 100vh;
    padding: 10px;
    margin: auto;
    border-radius: 30px;
    -moz-backdrop-filter: blur(2px); 
    -webkit-backdrop-filter: blur(2px); 
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.257);
}
#contenedorformulario{
    width: 40%;
    height: auto;
    margin: auto;
    padding-top: 4%;
}
#aviso {
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0% 20%;
    text-align: center;
}

#RedesSociales{
    width: 5%;
    height: 10vh;
    display: inline-block;
    position: fixed;
    margin-top: 20rem;
}


.RSiconocs {
    width: 10;
    height: 5vh;
    display: fixed;
    margin-left: 1px;
    margin: 10px auto;
}
.RSiconocs a {
    height: 5vh;
    display: inline-block;
}
.RSiconocs img:hover {
    background-color: #f3f6f3f6;
    border-radius: 20px;
    transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    -moz-transform: scale(1.5, 1.5);
    transition: all .22s linear;
    -webkit-transition: all .22s linear;
    -moz-transition: all .22s linear;
}
#imgen{
    width: auto;
    height: inherit;
}


.container {
    display: block;
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
    position: relative;
    margin: auto;
  }
  
  .container input {
    display: block;
    position: absolute;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  
  .container input:checked ~ .checkmark {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    height: 2em;
    width: .7em;
    border-color: #32cd32;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
    display: flex;
    position: absolute;
  }
  
  .container .checkmark {
    display: inline-block;
    width: inherit;
    height: inherit;
    border: 2px solid #32cd32;
    border-radius: 4px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

  



.input-group {
    position: relative;
   }
   
   .input {
    border: solid 1.5px #000000;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1.2rem;
    color: #000000;
    font-family: 'Roboto Flex', sans-serif;
    -webkit-transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    -moz-transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .user-label {
    position: absolute;
    left: 15px;
    color: #000000;
    font-family: 'Roboto Flex', sans-serif;;
    pointer-events: none;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
        -ms-transform: translateY(1rem);
            transform: translateY(1rem);
    -webkit-transition: 150ms cubic-bezier(0.4,0,0.2,1);
    -moz-transition: 150ms cubic-bezier(0.4,0,0.2,1);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .input:focus, input:valid {
    outline: none;
    border: 1.5px solid #37de5e;
   }
   
   .input:focus ~ label, input:valid ~ label {
    -moz-transform: translateY(-50%) scale(0.8);
    -webkit-transform: translateY(-50%) scale(0.8);
        -ms-transform: translateY(-50%) scale(0.8);
            transform: translateY(-50%) scale(0.8);
    background-color: #37de5e;
    padding: 0 .2em;
    color: rgb(1, 1, 1);
    font-family: 'Roboto Flex', sans-serif;
   }


button {
    --glow-color: rgb(255, 255, 255); /*Borde y letra */
    --glow-spread-color: rgba(117, 216, 56, 0.781); /*Luz cerca */
    --enhanced-glow-color: rgb(255, 255, 255); /*Luz lejos */
    --btn-color: rgb(45, 179, 91); /*Dentro */
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    -moz-box-shadow: 0 0 1em .25em var(--glow-color);
    -webkit-box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
            box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: auto;
    bottom: 0px;
    display: block;
   }
   
   button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    -webkit-filter: blur(2em);
            filter: blur(2em);
    opacity: .7;
    -moz-transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
    -webkit-transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
            transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    -moz-box-shadow: 0 0 1em .25em var(--glow-color);
    -webkit-box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
            box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   button:active {
    -moz-box-shadow: 0 0 0.6em .25em var(--glow-color);
    -webkit-box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
            box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }




.Dos {
    width: 90%;
    height: 100vh;
    padding: 20px;

}
#contenidoss{
    width: 50%;
    height: 90vh;
   float: right;
    position: absolute;
    bottom: -151vh;
    right: 20vh;
}
#contenidoss h1{
    color: rgb(255, 255, 255);
    font-size: 4.2rem;
    font-family: 'Mina', sans-serif;
    font-weight: bolder;
    text-align: center;
    margin: 50px;
    background-color: #16161a00;
    border-radius: 30px;
    
}
#contenidoss p{
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
    font-family: 'Arima', cursive;
    
    text-align: center;
}
#textodos {
    width: 80%;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
}

footer {
    width: 100%;
    height: 8vh;
    position: absolute;
    bottom: -200vh;
    display: block;
    padding: 2%;
    justify-content: center;
}
#containerfooter{
    width: 50%;
    height: auto;
    display: flex; 
    float: right;
    justify-content: center;
}
footer p{
    color: #fff;
    font-size: .9rem;
    font-family: 'Arima', cursive;
    text-align: center;
}
#texto2{
    float: right;
}


#candy {
    width: 40%;
    height: 90vh;
    position: relative;
    bottom: -45vh;
}
#titulo {
    font-size: 4.2rem;
    text-align: center;
    color: #fff;
    font-family: 'Mina', sans-serif;
}
#logo{
    width: 80%;
    height: 200px;
    margin: 30px 0px 30px 150px;
    align-items: center;
}
#logo img{
    width: 400px;
    height: 400px;
    margin: auto;
}

.Relleno {
    display: none;
}
#responsive_text{
    display: none;
}
#RedesSociales1{
    display: none;
}

#contenedorformulario1{
    display: none;
}
#contenedorformulario2{
    display: none;
}










